.spaceBetween {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
}
.spaceAround {
  display: flex;
  justify-content: space-around;
}

.centerElements {
  display: flex;
  justify-content: center;
}

.addCarTextFiled {
  //width: 70%;

  .MuiInputLabel-root {
    left: unset;
    right: 0;
    margin-right: 2em;
  }
  .MuiInputLabel-shrink {
    margin-right: 0.8em;
  }
}

/* ACC1 */

.addAcc1Img {
  padding: 1em;
  max-width: 12em;
}

.raiseEffect {
  border: 0.07em solid;
  border-radius: 0.3em;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
}

/* ACC2 */

.Acc2Box {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.8em 0.5em 0.8em;
  //border: 1px solid var(--text-primary);
  border-radius: 0.5em;
  padding: 2;
}

/* AAC6 */

.acc6FormGroup {
  display: flex !important;
  flex-direction: row !important;
}

.groupGrid {
  margin-bottom: 1em !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}
