.becomeOwnerBox {
  background-image: url("../public/imgs/caravanPhotos/caravanNorway01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  min-height: 80vh;
}

.becomeOwnerCard {
  max-height: 25em;
  padding: 2rem 4rem 4rem 4rem;
  margin: 2rem 4rem 4rem 4rem;
  background-color: var(--background-default) !important;
}

.formControlBecome {
  width: 100%;
  margin: 0.5rem !important;
  direction: rtl;
}

.selectInputBecome {
  &.MuiInputLabel-root {
    left: unset;
    right: 0;
    margin-right: 3em;
  }
  &.MuiInputLabel-shrink {
    left: unset;
    right: 0;
    margin-right: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: var(--background-default);
  }
}

.select {
  &.MuiSelect-root {
    left: unset !important;
    right: 0 !important;
  }
}

.numberIconsBecome {
  max-width: 6em;
  max-height: 6em;
  margin-left: 1em;
}

.becomeReasonsImgs {
  max-width: 10em;
}

@media (max-width: 600px) {
  .textHeaderResize {
    font-size: 0.9em !important;
  }

  .numberIconsBecome {
    max-width: 3em;
  }

  .textParaResize {
    font-size: 0.8em !important;
  }
  .becomeReasonsImgs {
    max-width: 5em;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .textResize {
    font-size: 18px;
  }
}
