.cardGridContainer {
  display: flex;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.carCardItem {
  padding: 0.6em;
}

.aboutCarCardItem {
  padding: 0.6em;
}

.carCardImgItem {
  padding: 0.6em;
  max-width: 20em !important;
  max-height: 15em !important;
}

.cardGridListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.cardModalList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.carCardBtnSection {
  padding: 0.6em;
  display: flex;
  align-items: center;

  .profileAv {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.myCarCardBtnSection {
  padding: 0.6em;
  display: flex;
  align-items: center;
  .profileAv {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.imgURL {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.cardBtn {
  margin-right: 0.8em !important;
}

.imgXpand {
  max-width: 100%;
}

@media (max-width: 900px) {
  .cardGridContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  .aboutCarCardItem {
    margin-top: 4.2em !important;
  }
}

@media (max-width: 600px) {
  .myCarCardBtnSection {
    padding: 0.6em;
    display: flex;
    flex-direction: column !important;
  }
  .cardBtn {
    width: 80% !important;
    margin-bottom: 0.8em !important;
  }
  .cardModalList {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}
