@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

.navLink {
  margin: 0 0.2em 0 0.2em;
  font-size: 1.1em;
  font-weight: bold !important;
}

.logoImgDark {
  margin-right: 1em;
  margin-left: -1em;
  width: 7em;
}

.logoImg {
  margin-right: 1em;
  margin-left: -1em;
  width: 7em;
  border-radius: 5px;
  background-color: rgb(180, 220, 255);
}

.font {
  font-family: belanosima !important;
  text-decoration: none;
}

.searchPartial {
  display: block;
}
