.registerContainer {
  background-image: url("../public/imgs/caravanPhotos/caravanGolan08.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.signupGridItem {
  display: flex;
  justify-content: center;
  margin: 1em !important;
}

.registerGridPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
