.searchCardGrid {
  padding: 1em;
  .MuiInputLabel-root {
    font-weight: bold;
    font-size: 1rem;
  }

  .MuiInputLabel-shrink {
    font-size: 0.875rem;
  }
}

.searchCardGridItem {
  width: 100%;
}
