.searchCardGrid {
  .MuiInputLabel-root {
    //color: rgb(44, 44, 44); /* Default label color */
    font-weight: bold; /* Make the label bold */
    font-size: 1rem; /* Adjust font size */
  }

  .Mui-focused {
    //  color: rgb(44, 44, 44); /* Change label color when focused */
  }

  .MuiInputLabel-shrink {
    //  color: rgb(0, 0, 0); /* Change color when label shrinks */
    font-size: 0.875rem; /* Adjust size when shrunk */
  }
}

.searchCardGridItem {
  width: 100%;
}
