.signupCardContainer {
  //display: flex;
  //justify-content: center;
  text-align: center;
  border-radius: 0.2em;
}
.signUpCardInputs {
  width: 70% !important;
  .MuiInputLabel-root {
    left: unset;
    right: 0;
    margin-right: 2em;
  }
  .MuiInputLabel-shrink {
    margin-right: 1em;
  }
}
